{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>helloWorld</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% comment %} <link rel="stylesheet" type="text/css" media="screen" href={% static 'helloWorld/css/main.css'%}> {% endcomment %}

        <link rel="stylesheet" type="text/css" media="screen" href={% static '/css/materialize.min.css'%}>

        <script src="">{%static 'js/materialize.min.js'%}</script> 

        {% block head%} {% endblock %}
    </head>
    <body>
       {% block body %} {% endblock %}
    </body>
</html>